

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:rgb(39, 39, 39);
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.container .card{
 position: relative;
 width: 220px;
 height: 250px;
 background: rgb(52, 52, 52);
 display: flex;
 justify-content: center;
 align-items: center;
}

.container .card .percent{
    position: relative;
    width: 150px;
    height: 150px;
    /* background: red; */
  
}


.container .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;    
    transform: rotate(270deg);
}


.container .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: rgb(4, 4, 4);
    transform: translate(5px,5px);
}


.container .card .percent svg circle:nth-child(2){
   stroke: var(--clr);
   stroke-dasharray: 440;
   stroke-dashoffset:800;
   opacity: 0;
   animation: fadeIn 1s linear forwards;
   animation-delay: 2.5s;

}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animationDot 2s linear forwards;

}

@keyframes animationDot{
    0%{
        transform: rotate(0 deg);
    }
    100%{
        transform: rotate(3.6deg * var(--num));
    }
}

.dot::before{
 content:'';
 position: absolute;
 top: -5px;
 left: 50%;
 transform: translate(-50%);
 width: 10px;
 height: 10px;
 border-radius: 50%;
 background: var(--clr);
 box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}



.number{
    position:absolute;
    inset:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}


.number h2 span{
    font-weight: 300;
    color: white;
    font-size: 0.5em;
    
} 


.number p{
    font-weight: 300;
    font-size: 0.75em;
    text-transform: uppercase;
    color: rgb(92, 92, 92);
    margin-top: 5px;
}